@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
:root {
  --background-color: #000000;
  --show-cards-container-color:#1C1C1E;
  --cards-font-color:#8E8E98;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--background-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navigation {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  color: #72727A;
  margin-right: 220px;
  margin-top: 20px;
}
@media screen and (max-width: 1000px) {
  .navigation {
    margin-right: 0px;
  }
}
.navigation li {
  margin-right: 30px;
}
.navigation li:last-child .Get {
  border-radius: 7px;
  background-color: #8E8E98;
  font-weight: 500;
  color: #000000;
  height: 40px;
  width: 110px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navigation li:last-child .Get:hover {
  -webkit-box-shadow: 0px 0px 15px rgb(166, 166, 166);
          box-shadow: 0px 0px 15px rgb(166, 166, 166);
}

.presentation {
  margin-top: 200px;
}
.presentation ul:first-child {
  margin-right: 39%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.presentation ul:first-child li:first-child {
  font-size: 25px;
}
.presentation ul:first-child span {
  background-color: #742EFF;
  margin-left: 10px;
  width: 92px;
  height: 30px;
  border-radius: 5px;
  color: black;
}
.presentation ul:last-child {
  padding-right: 200px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 110px;
}

.form_container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.form_container ul li:nth-child(1) input {
  border-radius: 7px;
  background-color: #1C1C1E;
  width: 390px;
  height: 50px;
}
.form_container ul li:nth-child(2) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form_container ul li:nth-child(2) button {
  position: relative;
  right: 20px;
  width: 110px;
  color: white;
  background-color: #47474C;
  height: 56px;
  border-radius: 15px;
}

.form_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 250px;
}

.form_desc p {
  color: #47474C;
}
.form_desc p span {
  color: #8E8E98;
}

.form_flex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 500px;
}
@media screen and (max-width: 1000px) {
  .form_flex2 {
    padding-right: 0px;
  }
}

.cookies_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cookies {
  color: #1C1C1E;
  margin-top: 60px;
}
.cookies p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 23px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid_container {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 50px;
  background-color: #242427;
}
.grid_container .margin_container {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto;
  grid-template-rows: 300px 700px;
  grid-template-areas: "header header1 header1" "content content content1";
}

.console {
  background-color: #323235;
}
.console ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin-left: 12px;
}
.console ul li {
  padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 7px;
}

.item1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-area: header;
  border-radius: 20px;
  background-color: #25E197;
}

.item2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFD233;
  border-radius: 20px;
  grid-area: header1;
}

.item3 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #792EFF;
  border-radius: 20px;
  grid-area: content;
}

.item4 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #C4C4C8;
  border-radius: 20px;
  grid-area: content1;
}

.main_desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 300px;
}
.main_desc div {
  color: white;
}
.main_desc div ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}
.main_desc div ul li:nth-child(1) {
  font-weight: 400;
  font-size: 30px;
}
.main_desc div ul li:nth-child(2) {
  color: #8E8E98;
  font-size: 35px;
}
.main_desc div ul li:nth-child(3) {
  color: #8E8E98;
  font-size: 18px;
}
.main_desc div ul .anim {
  color: #196CFA;
  font-size: 15px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 78px;
}

.main_desc2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 200px;
}
.main_desc2 p {
  color: white;
  font-size: 110px;
}

.main-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-cards_container {
  margin-left: 20px;
  margin-top: 150px;
  background-color: var(--show-cards-container-color);
  width: 540px;
  height: 650px;
  border-radius: 15px;
}
.main-cards_container .card-font {
  margin-top: 40px;
  list-style: none;
}
.main-cards_container .card-font li:nth-child(1) {
  font-size: 40px;
  padding-top: 13px;
  padding-left: 30px;
  color: #FFFFFF;
}
.main-cards_container .card-font li:nth-child(2) {
  font-size: 30px;
  padding-top: 70px;
  padding-left: 30px;
  color: #8E8E98;
}
.main-cards_container .card-font li:nth-child(3) {
  font-size: 15px;
  padding-top: 60px;
  padding-left: 30px;
  color: #72727A;
}
.main-cards_container .card-image {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}
.main-cards_container .card-image li:nth-child(2) {
  margin-left: 10px;
}
.main-cards_container .card-image li:nth-child(3) {
  margin-left: 10px;
}

.main-cards_container {
  margin-left: 20px;
  background-color: var(--show-cards-container-color);
  border-radius: 15px;
  -webkit-transition: 1s;
  transition: 1s;
}
.main-cards_container .card-font2 {
  list-style: none;
}
.main-cards_container .card-font2 li:nth-child(1) {
  color: #8E8E98;
  padding-top: 20px;
  padding-left: 30px;
}
.main-cards_container .card-font2 li:nth-child(2) {
  font-size: 40px;
  padding-top: 15px;
  padding-left: 30px;
  color: #FFFFFF;
}
.main-cards_container .card-font2 li:nth-child(3) {
  font-size: 30px;
  padding-top: 50px;
  padding-left: 30px;
  color: #8E8E98;
}
.main-cards_container .card-font2 li:nth-child(4) {
  font-size: 15px;
  padding-top: 50px;
  padding-left: 30px;
  color: #72727A;
}
.main-cards_container .card-image2 {
  padding-left: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
}
.main-cards_container .card-image2 li:nth-child(2) {
  margin-left: 10px;
}
.main-cards_container .card-image2 li:nth-child(3) {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-cards_container .card-image2 li:nth-child(4) {
  position: relative;
  top: 55px;
  right: 50px;
}
.main-cards_container .card-image2 li:nth-child(5) {
  position: relative;
  top: 20px;
  right: 320px;
}

.main-cards_container:hover {
  -webkit-box-shadow: 0px 0px 15px rgb(166, 166, 166);
          box-shadow: 0px 0px 15px rgb(166, 166, 166);
}

.main-cards_container2 {
  margin-left: 20px;
  margin-top: 150px;
  background-color: var(--show-cards-container-color);
  width: 540px;
  height: 650px;
  border-radius: 15px;
  -webkit-transition: 1s;
  transition: 1s;
}
.main-cards_container2 .card-font3 {
  list-style: none;
}
.main-cards_container2 .card-font3 li:nth-child(1) {
  color: var(--cards-font-color);
  padding-top: 20px;
  padding-left: 30px;
}
.main-cards_container2 .card-font3 li:nth-child(2) {
  font-size: 40px;
  padding-top: 13px;
  padding-left: 30px;
  color: #FFFFFF;
}
.main-cards_container2 .card-font3 li:nth-child(3) {
  font-size: 30px;
  padding-top: 30px;
  padding-left: 30px;
  color: var(--cards-font-color);
}
.main-cards_container2 .card-font3 li:nth-child(4) {
  font-size: 15px;
  padding-top: 30px;
  padding-left: 30px;
  color: var(--cards-font-color);
}
.main-cards_container2 .card-image3 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}
.main-cards_container2 {
  margin-left: 20px;
  background-color: var(--show-cards-container-color);
  border-radius: 15px;
}
.main-cards_container2 .card-font4 {
  list-style: none;
}
.main-cards_container2 .card-font4 li:nth-child(1) {
  color: var(--cards-font-color);
  padding-top: 20px;
  padding-left: 30px;
}
.main-cards_container2 .card-font4 li:nth-child(2) {
  font-size: 40px;
  padding-top: 15px;
  padding-left: 30px;
  color: #FFFFFF;
}
.main-cards_container2 .card-font4 li:nth-child(3) {
  font-size: 30px;
  padding-top: 50px;
  padding-left: 30px;
  color: var(--cards-font-color);
}
.main-cards_container2 .card-font4 li:nth-child(4) {
  font-size: 15px;
  padding-top: 50px;
  padding-left: 30px;
  color: #72727A;
}
.main-cards_container2 .card-image4 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}
.main-cards_container2 .card-image4 li:nth-child(2) {
  margin-left: 10px;
}
.main-cards_container2 .card-image4 li:nth-child(3) {
  margin-left: 10px;
}

.main-cards_container2:hover {
  -webkit-box-shadow: 0px 0px 15px rgb(166, 166, 166);
          box-shadow: 0px 0px 15px rgb(166, 166, 166);
}

.title {
  margin-top: 130px;
  margin-right: 730px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 1000px) {
  .title {
    margin-right: 0px;
  }
}
.title h1 {
  font-size: 40px;
  font-weight: 400;
  color: white;
}

.title2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 690px;
}
@media screen and (max-width: 1000px) {
  .title2 {
    margin-right: 0px;
  }
}

p {
  font-size: 35px;
  color: #8E8E98;
}

.main_desc3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.show-cards_container {
  margin-top: 20px;
  background-color: var(--show-cards-container-color);
  border-radius: 10px;
  width: 250px;
  height: 140px;
  color: #8E8E98;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 42px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.show-cards_container .show-cards {
  list-style: none;
}
.show-cards_container .show-cards li:nth-child(2) {
  color: #FFFFFF;
}

.show-cards_container2 {
  margin-top: 20px;
  background-color: var(--show-cards-container-color);
  border-radius: 10px;
  width: 250px;
  height: 140px;
  color: #8E8E98;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 42px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.show-cards_container2 .show-cards {
  list-style: none;
}
.show-cards_container2 .show-cards li:nth-child(2) {
  color: #FFFFFF;
}

.show-cards_container3 {
  margin-top: 20px;
  background-color: var(--show-cards-container-color);
  border-radius: 10px;
  width: 250px;
  height: 140px;
  color: #8E8E98;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 42px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.show-cards_container3 .show-cards {
  list-style: none;
}
.show-cards_container3 .show-cards li:nth-child(2) {
  color: #FFFFFF;
}

.show-cards_container4 {
  margin-top: 20px;
  background-color: var(--show-cards-container-color);
  border-radius: 10px;
  width: 250px;
  height: 140px;
  color: #8E8E98;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 42px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.show-cards_container4 .show-cards {
  list-style: none;
}
.show-cards_container4 .show-cards li:nth-child(2) {
  color: #FFFFFF;
}

.main_desc4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.show-cards_container5 {
  margin-top: 20px;
  background-color: #1C1C1E;
  border-radius: 10px;
  width: 250px;
  height: 140px;
  color: #8E8E98;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 42px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.show-cards_container5 .show-cards {
  list-style: none;
}
.show-cards_container5 .show-cards li:nth-child(2) {
  color: #FFFFFF;
}

.show-cards_container6 {
  margin-top: 20px;
  background-color: #1C1C1E;
  border-radius: 10px;
  width: 250px;
  height: 140px;
  color: #8E8E98;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 42px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.show-cards_container6 .show-cards {
  list-style: none;
}
.show-cards_container6 .show-cards li:nth-child(2) {
  color: #FFFFFF;
}

.show-cards_container7 {
  margin-top: 20px;
  background-color: #1C1C1E;
  border-radius: 10px;
  width: 250px;
  height: 140px;
  color: #8E8E98;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 42px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.show-cards_container7 .show-cards {
  margin-right: 50px;
  list-style: none;
}
.show-cards_container7 .show-cards li:nth-child(2) {
  color: #FFFFFF;
}

.show-cards_container8 {
  margin-top: 20px;
  background-color: #1C1C1E;
  border-radius: 10px;
  width: 250px;
  height: 140px;
  color: #8E8E98;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 42px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.show-cards_container8 .show-cards {
  margin-right: 60px;
  list-style: none;
}
.show-cards_container8 .show-cards li:nth-child(2) {
  color: #FFFFFF;
}

.title3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 200px;
  margin-right: 750px;
}
@media screen and (max-width: 1000px) {
  .title3 {
    margin-right: 0px;
  }
}
.title3 h2 {
  font-size: 40px;
  color: #FFFFFF;
  font-weight: 300;
}
.title3 h2 span {
  color: #8E8E98;
}

.Blog1 {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.Blog1 ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Blog1 ul li:nth-child(1) {
  margin-left: 30px;
}
.Blog1 ul li:nth-child(2) {
  margin-left: 30px;
}
.Blog1 ul li:nth-child(3) {
  margin-left: 30px;
}

.button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  margin-right: 960px;
}
@media screen and (max-width: 1000px) {
  .button_container {
    margin-right: 0px;
  }
}
.button_container button {
  background-color: #8E8E98;
  border-radius: 10px;
  width: 75px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form_container1 {
  margin-right: 190px;
}
@media screen and (max-width: 1000px) {
  .form_container1 {
    margin-right: 0px;
  }
}
.form_container1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.form_container1 ul li:nth-child(1) input {
  border-radius: 7px;
  background-color: #1C1C1E;
  width: 390px;
  height: 50px;
}
.form_container1 ul li:nth-child(2) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form_container1 ul li:nth-child(2) button {
  position: relative;
  right: 20px;
  width: 110px;
  color: white;
  background-color: #47474C;
  height: 56px;
  border-radius: 15px;
}

.form_desc1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form_desc1 p {
  color: #47474C;
  font-size: 15px;
}
.form_desc1 p span {
  color: #8E8E98;
}

.footer_menu {
  margin-top: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 100px;
}

.information_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.information {
  color: #55555B;
}
.information ul {
  list-style: none;
}
.information ul li:nth-child(1) {
  color: #8E8E98;
}
.information ul li {
  margin-top: 20px;
}

.information2 {
  color: #55555B;
  margin-left: 100px;
}
.information2 ul {
  list-style: none;
}
.information2 ul li:nth-child(1) {
  color: #8E8E98;
}
.information2 ul li:nth-child(4) span {
  background-color: #F53B3B;
  border-radius: 8px;
  color: black;
  font-weight: 500;
}
.information2 ul li {
  margin-top: 20px;
}

.information3 {
  color: #55555B;
  margin-left: 100px;
}
.information3 ul {
  list-style: none;
}
.information3 ul li:nth-child(1) {
  color: #8E8E98;
}
.information3 ul li {
  margin-top: 20px;
}

.Product {
  -webkit-transition: 0.5;
  transition: 0.5;
}

.Product:hover {
  cursor: pointer;
  text-decoration: underline;
}

.Plans {
  -webkit-transition: 0.5;
  transition: 0.5;
}

.Plans:hover {
  cursor: pointer;
  text-decoration: underline;
}

.Blog {
  -webkit-transition: 0.5;
  transition: 0.5;
}

.Blog:hover {
  cursor: pointer;
  text-decoration: underline;
}

.anim:hover {
  text-decoration: underline;
}

.Read_all:hover {
  -webkit-box-shadow: 0px 0px 15px rgb(166, 166, 166);
          box-shadow: 0px 0px 15px rgb(166, 166, 166);
}

.show-cards_container:hover {
  -webkit-box-shadow: 0px 0px 15px rgb(166, 166, 166);
          box-shadow: 0px 0px 15px rgb(166, 166, 166);
}

.show-cards_container2:hover {
  -webkit-box-shadow: 0px 0px 15px rgb(166, 166, 166);
          box-shadow: 0px 0px 15px rgb(166, 166, 166);
}

.show-cards_container3:hover {
  -webkit-box-shadow: 0px 0px 15px rgb(166, 166, 166);
          box-shadow: 0px 0px 15px rgb(166, 166, 166);
}

.show-cards_container4:hover {
  -webkit-box-shadow: 0px 0px 15px rgb(166, 166, 166);
          box-shadow: 0px 0px 15px rgb(166, 166, 166);
}

.show-cards_container5:hover {
  -webkit-box-shadow: 0px 0px 15px rgb(166, 166, 166);
          box-shadow: 0px 0px 15px rgb(166, 166, 166);
}

.show-cards_container6:hover {
  -webkit-box-shadow: 0px 0px 15px rgb(166, 166, 166);
          box-shadow: 0px 0px 15px rgb(166, 166, 166);
}

.show-cards_container7:hover {
  -webkit-box-shadow: 0px 0px 15px rgb(166, 166, 166);
          box-shadow: 0px 0px 15px rgb(166, 166, 166);
}

.show-cards_container8:hover {
  -webkit-box-shadow: 0px 0px 15px rgb(166, 166, 166);
          box-shadow: 0px 0px 15px rgb(166, 166, 166);
}