.grid_container{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 50px;
    background-color: #242427;
    .margin_container{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
        padding-bottom: 20px;
        display: grid;
        gap: 20px;
        grid-template-columns: auto auto auto;
        grid-template-rows: 300px 700px;
        grid-template-areas:
        "header header1 header1"
        "content content content1";
    }
}

.console{
    background-color: #323235;
    ul{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin-left: 12px;
        li{
            padding-top: 6px;
            padding-bottom: 4px;
            padding-left: 7px;
        }
    }
}

.item1{
    justify-content: center;
    align-items: center;
    display: flex;
    grid-area: header;
    border-radius: 20px;
    background-color: #25E197;
}

.item2{
    justify-content: center;
    align-items: center;
    display: flex;  
    background-color: #FFD233;
    border-radius: 20px;
    grid-area: header1;
}

.item3{ 
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #792EFF;
    border-radius: 20px;
    grid-area: content;
}

.item4{ 
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #C4C4C8;
    border-radius: 20px;
    grid-area: content1;
}

.main_desc{
    display: flex;
    justify-content: center;
    margin-top: 300px;
    div{
        color: white;
        ul{
            flex-direction: column;
            list-style: none;
            li:nth-child(1){
                font-weight: 400;
                font-size: 30px;
            }
            li:nth-child(2){
                color: #8E8E98;
                font-size: 35px;
            }
            li:nth-child(3){
                color: #8E8E98;
                font-size: 18px;
            }            
            .anim{
                color: #196CFA;
                font-size: 15px;
                cursor: pointer;
                transition: 0.3s;
                width: 78px;
            }
        }
    }
}

.main-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.main-cards_container{
    margin-left: 20px;
    margin-top: 150px;
    background-color: #1C1C1E;
    width: 540px;
    height: 650px;
    border-radius: 15px;
    .card-font{
        margin-top: 40px;
        list-style: none;
        li:nth-child(1){
            font-size: 40px;
            padding-top: 13px;
            padding-left: 30px;
            color: #FFFFFF;
        }
        li:nth-child(2){
            font-size: 30px;
            padding-top:70px;
            padding-left: 30px;
            color: #8E8E98;
        }
        li:nth-child(3){
            font-size: 15px;
            padding-top: 60px;
            padding-left: 30px;
            color: #72727A;
        }
    }
    .card-image{
        justify-content: center;
        list-style: none;
        display: flex;
        margin-top: 100px;
        li:nth-child(2){
            margin-left: 10px;
        }
        li:nth-child(3){
        margin-left: 10px;
        }
    }
}
.main-cards_container{
    margin-left: 20px;
    background-color: #1C1C1E;
    border-radius: 15px;
    .card-font2{
        list-style: none;
        li:nth-child(1){
            color: #8E8E98;
            padding-top: 20px;
            padding-left: 30px;
        }
        li:nth-child(2){
            font-size: 40px;
            padding-top: 15px;
            padding-left: 30px;
            color: #FFFFFF;
        }
        li:nth-child(3){
            font-size: 30px;
            padding-top: 50px;
            padding-left: 30px;
            color: #8E8E98;
        }
        li:nth-child(4){
            font-size: 15px;
            padding-top: 50px;
            padding-left: 30px;
            color: #72727A;
        }
    }
    .card-image2{
        padding-left: 70px;
        justify-content: center;
        list-style: none;
        display: flex;
        margin-top: 70px;
        li:nth-child(2){
            margin-left: 10px;
        }
        li:nth-child(3){
        margin-left: 10px;
        display: flex;
        align-items: center;
        }
        li:nth-child(4){
        position: relative;
        top: 55px;
        right: 50px;
        }
        li:nth-child(5){
        position: relative;
        top: 20px;
        right: 320px;
        }
    }
}

.main_desc2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 200px;
    p{
        color: white;
        font-size: 110px;

    }
}
